	*{
		font-family: arial;
	}
	body{
		background-color:#282828;

	}

	.wrapper{
			width: 100%;
			height: 900px;
			
		}

/*Logo*/
.header{
	width: 100%;
	height: 380px;

}
.banner-image{
	width: 99.6%;
	height: 368px;
	margin: 2px;
}

/*Navigation*/
.navigation{
	height: 50px;

}
.nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	font-family: Bebas Neue;
	font-size: 26px;
}

.a {
	float: left;
	width: 19.9%;
}

.a:last-child {
	border-right: none;
}
.a:hover{
background-color: black;}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover:not(.active) {
	background-color: #111;
}

/*Contents*/
.Content{
	width: 100%;
	height: 450px;

}
	
/*image of shop*/
.shop-image{
	width: 79.5%;
	height: 600px;
	margin: 2px;
}
/*product list*/
.list{
	text-align: center;
	margin-right: 2px;
	padding: 10px;
	font-family: Arial;
}
.list_prod {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: grey;
}
/*Information*/
.statement{
	width: 100%;
	height: 200px;
	text-align: justify;
	font-size: 20px;

}
/*footer*/
.footer{
	background-color: #767676;
}
/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 54px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
 
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
  color: white;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-google {
  background: #d44638;
  color: white;
}
.fa-instagram {
  background:linear-gradient(to left top, #c32aa3, #4c5fd7,#7232bd,#f46f30,#ffdc7d);
  color: white;

}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e4e6eb;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3a3b3c;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #242526;
}

 select {
  display: none;
}

@media (max-width: 960px) {
  .a, .nav     { display: none; }
   select { display: inline-block; 
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;


   }
   	.list_prod{
   		height:400px ;
   	}
   
}

@media (min-width: 320px) {
.statement{
	 height: 800px;
}
}
@media (min-width: 300px) {
.statement{
	 height: 900px;
}
}
@media (min-width: 576px) { 
.statement{
	 height: 300px;
}
}

@media (min-width: 768px) { 

}

@media (min-width: 992px) { 
.list_prod{
   		height:600px ;
   	}
   
}

@media (min-width: 1200px) { 
.list_prod{
   		height:600px ;
   	}
}

.motul{
	  text-align: center;
	  color: white;
	   font-family: 'Helvetica Neue', sans-serif;
	    font-size: 190px; 
	    font-weight: bold; 
	    letter-spacing: -1px; 
	    line-height: 1; 
	    text-align: center;
}
.motul:hover{
	color: green;
}
.best{
	  text-align: center;
	color: white; 
	font-family: 'Open Sans', sans-serif; 
	font-size: 30px; 
	font-weight: 300; 
	line-height: 32px; 
	margin: 0 0 72px; 
	text-align: center;
}
.best:hover{
	color: red;
}
.tagline{
	text-align: center;
	font-family: 'san-serif',sans-serif;
	font-size: 100px;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 1;

}
.tagline:hover{
	color: yellow;
}